<section class="intro">

    <h1>Start Your <br> Adventure Now!</h1>

</section>
<h2>Update room</h2>
    <form method="POST" action="/room/update/{{_id}}?method=PUT">

        <label>Title</label>
        <input type="text" name="title" id="title" value="{{title}}" > <br><br>

        <label>Description</label>
        <textarea id="description" name="description">{{description}}</textarea><br><br>

        <label>Due Date</label>
        <input type="date" name="dueDate" id="dueDate" value="{{dueDate}}">{{dueDate}}<br><br>

        <label>Priority</label>
        <select name="priority">
            <option value="low" >Low</option>
            <option value="medium" >Medium</option>
            <option value="high" >High</option>
        </select>
        <br><br>

        <label>File Upload</label>
        <input type="file" name="roomPic" id="roomPic"> <br><br>
        <br><br>

        <input type="submit" value="Update room">
    </form>