<section class="intro">

    <h1>Start Your <br> Adventure Now!</h1>

</section>

<section id="promotion" class="promotions">
    <div id="promotionGrid" class="promotions-container">
        <div class="offer-container">
            <img src="/uploads/{{this.roomPic}}" alt="{{this.title}}">
            <p class="title">{{this.title}}</p>
            <div class="price-container">
                <p class="duration"><i class="far fa-clock"></i> {{this.description}}</p>
                <p class="price">${{this.price}}</p>
            </div>
            <p class="valid">Valid Until {{this.dueDate}}</p>
        </div>
</section>